{% extends "SampleCsvBundle::layout.html.twig" %}

{% block content %}
    <div id="csv-header" class="page-header">
        <h2>Graph</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>No csv records.<br/><br/>
            <a href='{{ path('upload') }}'>Want to upload csv files?</a></h4>
        </div>
    </div>
{% endblock %}