    <!-- Turn Modal -->
    <div class="modal fade" id="turn" tabindex="-1" role="dialog" aria-labelledby="configureLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="activeConfirmationLabel">
                        <span id="turn-title"></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1" style="text-align: center">
                            <h4>Are you sure you want to <b><span id="turn-option"></span></b><br/>
                                the <b><span id="turn-source"></span></b> source?</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="margin-top: 0px">
                    <button id="modal-turn-yes"  type="button" class="btn btn-primary">Yes</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>