<form action="{{ path(form_route) }}" method="GET" id="search-form" style="margin-top: 15px">
    <div class="row">
        <div class="col-lg-12">
            <div class="input-group">
                <input type="text" name="search" placeholder="{{ placeholder }}" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Search</button>
                </span>
            </div>
        </div>
    </div>
</form>